<div style="border:1px solid #BBBABA; border-radius:10px; width:50%; margin: 50px auto; padding-bottom:30px;">
	<h2 style="text-align:center;">Resend confirmation instructions</h2>
	<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
	  <div style="text-align:center;">
	  	<%= devise_error_messages! %>
	  </div>
	 	<div style="text-align:center; margin:auto;">
            <div class="input-group" style="margin: 0 auto; width: 75%;">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                <%= f.email_field :email, :autofocus => true, class:"form-control input-lg", placeholder:"Your UTOR email address", style:"border-top-right-radius:4px;"%>
                 <span><%= f.submit "Resend confirmation instructions", class:"btn btn-lg btn-warning pull-right", style:"width:100%; border-radius:0px; margin:0; border-bottom-right-radius:4px; text-align:left;"
                 %> </span>
                
            </div>
		</div>



	<% end %>
</div>
