<!-- register to banner -->
<!--<%= render 'layouts/shared/registerHeader' %> -->
 
<div class = "content">

</div>
 
 <div id="footer">

        <div id="company-logo" class="pull-right" style="margin-right: 10px; height: 100%">
            <%= image_tag("YNCN-boxes-text.png") %>
            </div>
    </div>
  
<!-- <%= render "devise/shared/links" %> -->

<style type="text/css">
	.register-form{
		padding: 10px 50px;
	}
	
	.content{
	background-color: #f3faf5;
	
	}

	#footer{
            height: 100px;
            width: 100%;
            padding: 20px;
            }
            
            #footer img{
            width: 200px;
            }

</style>

