<div class="container container_margin_topbottom ">
    <div class="row container_padding_bottom">
        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
            <h1> Relevant People </h1>
        </div>
    </div>
    <%= render 'users/shared/show_profile' %>
    <%= will_paginate(@users) %>
</div>