
  <div id="interview_form">
  <% if current_user.has_interview?(@interview) %>
  	<%= render partial: '/users/finished_interview' %>
  <% else %>
    <%= render partial: '/users/interview_with' %>
  <% end %>
  </div>
