<!-- Title -->
<div  class="row" style="width:100%">
    <div class = "col-md-1"></div>
    <div class = "col-md-10" >
        <h1 style="font-size: 30px;"> Edit Profile  </h1>
    </div>
    <div class = "col-md-1"></div>
</div>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
