<div class="content">
    <div style="margin:0 auto; width:50%; text-align:center;">
        <h1>Search Result</h1>
    </div>
    <div id ="result">
    <div id="wrapper">

            <% @users.each do |user| %>
            <div class="profile">
                <%= gravatar_for(user) %>
                <h3 class="name">
                    <%= user.name %>
                </h3>
                <h4 class="position">
                    <%= user.email %>
                 </h4>
            </div>
            <% end %>

    </div>
    </div>

</div>

<!--<%= link_to 'New User', new_user_path %>-->

