<!-- register to banner -->
<%= render 'layouts/shared/header' %>
 
<div class = "content">

 </div>
 
 <div id="footer">
        <div id="company-logo" class="pull-right" style="margin-right: 10px; height: 100%">
			<%= image_tag("YNCN-boxes-text.png") %>
        </div>
    </div>
  


<style type="text/css">

	#footer{
        height: 100px;
        width: 100%;
        padding: 20px;
     }
            
     footer img{
        width: 200px;
    }

</style>

