<div style="border: 2px solid black; width:50%; border-radius:10px; margin:0 auto; margin-top: 5%;">
	<div id="content" style="margin: 3% 5% 3% 8%;">
		<h1>New Company</h1>

		<%= render 'form' %>
		<%= link_to 'Back', companies_path, :class=>"btn btn-warning", :style=>"background-color:#7A9B75; margin-left:2%; border-radius:7px;" %>
		<!-- THIS BUTTON IS NOT ALIGNED AS THE SUBMIT BUTTON, HOW CAN I FIX THIS -->
	</div>


</div>