// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.company_container
{
	border:	3px solid black;
	overflow:	auto;
	margin:	5px;
	width:	300px;
	float:	left;
	background-color:	#334641;
	.company_holder_left{
	float:	left;
	line-height:	57px;
	vertical-align:	middle;
	text-align:	center;
	
	}
	.company_holder_right{
	float:	right;
	clear:	right;
	border:	1px solid black;
	width:	51px;
	text-align:	center;
	background-color: #7B9D99;
	}
	a, a:visited
	{
	color:	white;
	}
}

