
/*------------------------------------------------------------------*/
/* Header */
#header > #logo {
	margin-top: -7px;
	margin-left: 10px;
	height: 60px;
}

#nav{
	margin-top:10px;
	margin-right:30px;
	height:100%;
}



/*-------------------------------------------------------------*/
/* Flash Message */

#notice{
	display:none;
}


/*-------------------------------------------------------------------------*/
/* General layout */
.border2{
	border:2px solid black;
	border-radius:7px;
}

.border_radius7{
	border-radius:7px;
}
.text_center{
	text-align:	center;
}

.centered{
	margin: 0 auto;
}

.width60 {
	width: 60%;
}

.width80 {
	width: 80%;
}

.width100{
	width: 100%;
}

.inline_block{
	display:inline-block;
}

.inline{
	display:inline;
}

.float_l{
	float:left;
}
.float_r{
	float:right;
}

.margin_1{
	margin: 1% 0 1% 0;
}
/*****************************************************************************/

/* Interviews */
/*---------------------------------------------------------------------------*/
/* List Interviews Page */

#interview_container{
	margin: 5% auto;
}

#interview_select{
	margin-top:4.5%;
	margin-bottom:3%;
}

.interview_show{
	margin: 1% 0 1% 0;
	padding-top: 1.5%;
	padding-bottom:1.5%;
}

.interview_show > span {
	width:24%;
	color:black;
}

.interview_show:hover{
	background-color:rgba(235, 235, 235, 1);
	border-color:rgba(63, 63, 63, 0.94);
}

#no_interview > span{
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	width:25%;
}

#empty_space{
	width:800px;
	height: 400px;
}
/*------------------------------------------------------------------*/
/* Show Interview Page */
.attribute_label{
	display:inline-block;
	font-weight: bold;
	text-align:justify;
	font-family:'Raleway', sans-serif;
	font-size: 15px;
	width: 30%;
	margin: 1% 0 1% 0;
}

.attribute_value{
	display:inline-block;
}

#flash_notice{
	
    width: 400px;
    border: 2px solid black;
    z-index: 100;
    border-radius: 7px;
    padding-left: 4%;
    padding-right: 4%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 40px;
    position: absolute;
    background-color: #45885A;
    color: white;

}

#interview_container{
	border-radius:10px;
	margin-top: 5%;
}

#interview_content{
	margin: 3% 5% 3% 8%;
}

.btn-edit,
.btn-delete,
.btn-back{
	margin-top:2%;
	color: white;
}

.btn-edit, 
.btn-delete{
	background-color:#8BB185;

	
}

.btn-edit:hover,
.btn-delete:hover{
	background-color: #8BB185;
	border-color: #60755C;
	color: white;
}

.btn-back{
	background-color:#D58512;
}
/*---------------------------------------------------------------------*/
/* New/edit Interview Page */
#interview_position, 
#interview_status,
#interview_date, 
#interview_company_name,
#interview_interview_type{
	float:	right;
	width:	50%;
}
/*---------------------------------------------------------------------*/
/* Interview New/Edit Form*/
.field > label {
	width:40%;
	margin: 1% 0 1% 0;
}

.interview {
	margin: 2% 0 1% 0;
}

#btn-submit-interview {
	margin: 0;
}


/******************************************************************/

/* Search */
/*---------------------------------------------------------------*/
/*Search Index Page*/
#title{
	margin-bottom:	2%;
}

#result > div{
	text-align: justify;
}

#result > .centered:after{
	width:100%;
	content:"";
	height:0;
	display:inline-block;
}
/* *******************************************************************************/
/* Users */
/*----------------------------------------------------*/
/* User Show Page */

#container{
	margin-top: 5%;
	margin-bottom: 2%
}

#profile_picture{
	padding: 1.5;
}

.profile_info li ul
{
	border: 2px solid black;
	vertical-align: middle;
	height:50px;
	border-radius: 7px;
	font-weight: bolder;
	padding: 10px 0 10px 0;
	width: 250px;
}
.profile_info li{
	list-style-type:	none;
}

.profile_info li a
{
	text-decoration:	none;
	color:	black;
}

.user_interviews{
	margin-top: 2%;
}

.user_interviews div{
	margin-bottom: 2%;
}

.user_interviews .interview_item{
	text-decoration:	none;
	color:	black;
}

.interview_item:hover{
	font-weight:bold;
}


.user_profile{
	text-align: center;
	display: inline-block;
	margin: 2%;
	
}

.name, .position{
	border: 2px solid black;
	border-radius: 7px;
	padding-top:5%;
	padding-bottom:5%;
	position: relative;
	top:-50px;
	z-index:10;
	background-color: white;
}
/* ****************************************************************************/
/* Companies */
/* ---------------------------------------------------- */
/* Show Company Page */

.info_container{
	margin: 2% auto;
	width:60%;
}

.info_container div {
	margin:2% auto;
}


#info_header{
	margin-top: 2%;
	width: 60%;
	text-align: justify;
}

#info_header span{
	display: inline-block;
	width: 30%;
	border: 2px solid black;
	padding-top: 3%;
	padding-bottom: 3%;

}
#info_header > .company_info
{
	position:relative;
	
	vertical-align:middle;
}


/* Use text-align:justify in a container to allow multiple inline objects to be evenly distrubted
	Also use a :after to add an extra element that contains max width to help force the inline objects to be evenly spread*/
#info_header:after{
	width:100%;
	content:"";
	height:0;
	display:inline-block;
}

.company_name{
	width: 200px !important;
	height: 200px;
	border-radius:100%;
}

/*---------------------------------------------------------------------*/
/* List Companies Page */

#company_title{
	margin-top:3%;
	margin-bottom: 2%;
}

.company_container{
	margin-top: 1%;
	margin-bottom: 1.5%;
	height: 10%;
	border-radius:10px !important;
}

.company_container:hover{
	background-color:rgba(235, 235, 235, 0.69);
	border-color:rgba(221, 221, 221, 0.65);
}

.company_container > a{
	display:block;
	color: black;
	text-decoration: none;
	padding-top: 2%;
	padding-right: 0.5%;
	padding-bottom: 2%;
	padding-left: 0.5%;
}

.company_block_piece{
	width:32.5%;
	display:inline-block;
	text-align:center;
}