/* CSS For New/edit Interview Page */
#interview_position, 
#interview_status,
#interview_date, 
#interview_company_name,
#interview_interview_type{
	float:	right;
	width:	50%;
}

.interview_link > table > tbody > tr > td {
	color:	black
}