/* CSS For New/edit Interview Page */
#interview_position, 
#interview_status,
#interview_date, 
#interview_company_name,
#interview_interview_type{
	float:	right;
	width:	50%;
}

.interview_link > table > tbody > tr > td {
	color:	black;
}

/*#profile_info > div{
	display: inline-block;
	border-radius:	7px;
	border: 2px solid black;
	margin:	1% 0 1% 0;
	padding: 2%;
}
*/

.profile_info li ul{
		border: 2px solid black;
		vertical-align: middle;
		height:50px;
		border-radius: 7px;
		font-weight: bolder;
		padding: 10px 0 10px 0;
		width: 250px;
		}
.profile_info li{
		list-style-type:	none;
	}

.profile_info li a
{
	text-decoration:	none;
	color:	black;
}

.user_interviews{
	width: 60%;
	margin:2% auto;
	text-align:	center;
	border: 2px solid black;
	border-radius:	7px;
}

.user_interviews div{
	margin-bottom: 2%;
}

.user_interviews .interview_item{
	text-decoration:	none;
	color:	black;
}

/*Search Page*/
/*    #content{
    background: #f3faf5;
    width: 100%;

    }

    #result{
    display:block;
    margin: 10px;
    }*/

    /* list of user available */

/*    .profile {
    background: #e6eeec;
    height: 290px;
    display: block;
    }

    .profile img {
    width: 175px;
    height: 175px;
    border: 5px solid white;
    display:block;
    margin: 15px auto;
    }

    .profile .name, .profile .position{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    }

    .profile .name{
    font-size: 16pt;

    }



    #footer
    {
    height: 100px;
    width: 100%;
    padding: 20px;
    }

    #footer img
    {
    width: 200px;
    }*/

    .user_profile{
    	text-align: center;
    	display: inline-block;
    	margin: 2%;
    	
    }

    .name, .position{
    	border: 2px solid black;
    	border-radius: 7px;
    	padding-top:5%;
    	padding-bottom:5%;
    	position: relative;
    	top:-50px;
    	z-index:10;
    	background-color: white;
    }

    #title{
    	margin-bottom: 2%;
    }

.attribute_label{
	display:inline-block;
	font-weight: bold;
	text-align:justify;
	font-family:'Raleway', sans-serif;
	font-size: 15px;
	width: 20%;
}

.attribute_value{
	display:inline-block;
}

#flash_notice{
	margin: 2% auto;
}