.register-form{
	padding: 10px 50px;
	height: 100%;
}
	
.content{
	padding: 50px 0px;
}

.timeline{
	height: 65%;		
	padding-left: 10%;
}

.timeline table{
	height: 100%;
	margin-left: -18px;
	font-size: 18px;
}

#line{
	height: 110%;
	width: 10px;
	border-left: thick solid grey;
	margin-left: 2%;
	float: left;
}
	
#register-form-content
{
	width: 100%;
	padding-bottom: 100px;
}

.circle {
	width: 20px;
	height: 20px;
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	border-radius: 50%;
	background: white;
	position: absolute;
}