<div style="border: 2px solid black; width:60%; border-radius:10px; margin:0 auto; margin-top: 5%;">
	<div id="content" style="margin: 3% 5% 3% 8%;">
		<h1>New Interview</h1>

		<%= render 'users/interviews/form' %>
		<%= link_to 'Back', user_path(current_user), :class=>"btn btn-warning", :style=>"background-color:#7A9B75; margin-left:2%; border-radius:7px;" %>
	</div>


</div>